html
  head
    title=title
    link(
      href='/stylesheets/my.css',
      rel='stylesheet'
    )
  body
    div.container

      div.page-header
        h1 Assign Mentor
         

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Registration Successfull! 
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 New Student
          div.col-sm-8
            select#mySelect(single='', name='student',onchange='myFunction()', size='4',required=true,style='width: 200px')
             option
              block content
               ul
                 each user, i in userlist
                  li
                 
                   a= user.firstname
              div.col-sm-offset-0
            p please select a student from above list. 

            p 'Preference(s) given by new student.'
             p#demo.textarea.form-control(rows='4', cols='50' style='width:300px', readonly='')
              script.
                function myFunction() {
                var x = document.getElementById("mySelect").value;
                document.getElementById("demo").innerHTML = "" + x;
                }
             
         div.form-group
          label.col-sm-4 Mentor
          div.col-sm-8
            select(single='', name='mentor', size='4',required=true,style='width: 200px')
             option(value='1') Ibrahim Alonge
             option(value='2') Kwangsub Ann
             option(value='3') Frank Lee
             option(value='4') Win Chung
             option(value='5') Chang Lee
             option(value='6') Peyton Brown
             option(value='7') Mustapha Ali
             option(value='8') Sam Ball
             option(value='9') Marc Bone
              div.col-sm-offset-0
            p please select a mentor to assign from above list. 
            p 'Preference(s) given by mentor.'
             textarea.form-control(rows="8", style='width:500px', readonly='')
        
    
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Assign
        div.pull-right
          a(href="/ghelp") Return to home page

