html
  head
    title=title
    link(href='/stylesheets/my.css', rel='stylesheet')
    link(href='/stylesheets/TableCSSCode.css', rel='stylesheet')
  body
    div.container

      div.page-header
        h1 Assign Mentor

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Registration Successfull! 
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 New Student
          div.col-sm-8
              p please select a student from below list.
              
                select.table#selectStudent(placeholder="select", name="student", onchange='myFunction()', width='300px')
                    each student, i in stds

                        option(value="#{student.preference}") #{student.firstname} | #{student.lastname} | #{student.std_id}

            div.col-sm-offset-4.col-sm-8
            p <strong>Preference given by new student:</strong>
             #demo.area( style='width:300px', readonly='')
              script.
                  function myFunction(){
                      var x = document.getElementById("selectStudent").value;
                      document.getElementById("demo").innerHTML = "" + x;


                  }
             
         div.form-group
          label.col-sm-4 Mentor
          div.col-sm-8
              p please select a mentor to assign from below list.
              
                select.table#selectMentor(placeholder="select", name="mentor", onchange='myFunc()')
                     each mentor, i in ments
                        option(value="#{mentor.preference}", label="#{mentor.ment_id}") #{mentor.firstName} | #{mentor.lastName} | #{mentor.ment_id}

            div.col-sm-offset-4.col-sm-8
            p <strong>Preference given by mentor.</strong>
             #demoo( style='width:300px', readonly='')
              script.
                 function myFunc() {
                     var x = document.getElementById("selectMentor").value;
                     document.getElementById("demoo").innerHTML = "" + x;
                 }





    
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit', href='home') Assign
        div.pull-right
          a(href="/home") Return to home page

