html
  head
    title=title
    link(
      href='/stylesheets/my.css',
      rel='stylesheet'
    )
  body
    div.container

      div.page-header
        h1 Assign Mentor

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Registration Successfull! 
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 New Student
          div.col-sm-8
            select(single='', name='mentor', size='4',required=true,style='width: 200px')
             option(value='1') Oluwatosin Adelegan
             option(value='2') Minhaj Shunjaruff
             option(value='3') Wilson Ozah
             option(value='4') Rock Stones
             option(value='5') Bright Duke
             option(value='6') Shankar Rahul
             option(value='7') Zack Marc
             option(value='8') Philip Courtney
             option(value='9') Mary Courtney
              div.col-sm-offset-0
            p please select a student from above list. 
            p 'Preference(s) given by new student.'
             textarea.form-control(rows="4", style='width:300px', readonly='')
             
         div.form-group
          label.col-sm-4 Mentor
          div.col-sm-8
            select(single='', name='mentor', size='4',required=true,style='width: 200px')
             option(value='1') Ibrahim Alonge
             option(value='2') Kwangsub Ann
             option(value='3') Frank Lee
             option(value='4') Win Chung
             option(value='5') Chang Lee
             option(value='6') Peyton Brown
             option(value='7') Mustapha Ali
             option(value='8') Sam Ball
             option(value='9') Marc Bone
              div.col-sm-offset-0
            p please select a mentor to assign from above list. 
            p 'Preference(s) given by mentor.'
             textarea.form-control(rows="4", style='width:300px', readonly='')
        
    
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Assign
        div.pull-right
          a(href="/ghelp") Return to home page

