html
   head
      title=title
      link(
      href='/stylesheets/my.css',
      rel='stylesheet'
      )
body
   h1 Dashboard
   p.
      Welcome to your dashboard!
   ul
      li Your Mentor is: #{data.mentor.firstName} #{data.mentor.lastName}